<!DOCTYPE html>
<html ng-app="ngApp">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title></title>
		<link rel="stylesheet" href="../css/weui.css">
		<link rel="stylesheet" href="../css/community.css" />
		<style type="text/css">
			#pg-hd {
				width: 100%;
				background-color: #fe0877;
				height: 43px;
			}
			
			#pg-hd img {
				height: 26px;
				margin: 8px 0 8px 8px;
			}
			
			.set {
				float: right;
				width: 50px;
				height: 26px;
				background-color: #fff;
				color: #fe0877;
				margin: 8px 8px 0 0;
				text-align: center;
				border-radius: 5px;
			}
		</style>
	</head>

	<body >
		<div id="pg-hd" ng-controller="headerCtrl">
			<span>
				<img ng-src="{{img}}"/>
			</span>
			<span id="send" ng-click="tatol()">发送</span>
		</div>
		<div class="weui-cell" ng-controller="textareaCtrl">
			<div class="weui-cell__bd">
				<textarea class="weui-textarea" ng-keydown="show()" placeholder="请输入文本" rows="8" maxlength="200" ng-model="content" ng-blur="tatol()"></textarea>
				<div class="weui-textarea-counter"><span ng-bind="length">0</span>/200</div>
			</div>
		</div>
		<!--图片-->
		<!--<div class="weui-cell" ng-controller="imgCtrl">
			<div class="weui-cell__bd">
				<div class="weui-uploader">
					<div class="weui-uploader__hd">
						<p class="weui-uploader__title">图片上传</p>
						<div class="weui-uploader__info">0/2</div>
					</div>
					<div class="weui-uploader__bd">
						<ul class="weui-uploader__files" id="uploaderFiles" ng-show="imghead">
							<li class="weui-uploader__file" style="background-image:url()"></li>
						</ul>
						<form class="weui-uploader__input-box" id="uploadForm">
							<input id="uploaderInput" class="weui-uploader__input pic" type="file" name="pic">
						</form>
					</div>
				</div>
			</div>
		</div>-->
	</body>
	<script src="../lib/angular.js"></script>
	<script src="../lib/jquery-3.2.1.js"></script>
	<script src="../js/community.js"></script>
</html>